<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Durga Suite">
  <test name="Test">
    <classes>
      <class name="samples.exam1"/>
      <class name="samples.exam2"/>
     
      
      <class name="samples.Dependency"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
